---
import Base from "../layouts/Base.astro";
---

<Base title="answer">
  <h1>answer</h1>
  <img src="angel.jpg" alt="angel" />

  <script is:inline>
    setTimeout(function () {
      $("img").attr("src", "eye.jpg");
      $("img").attr("alt", "eye");
      $("h1").text("nothing stays the same");
      $(document).prop("title", "nothing stays the same");
    }, 7000);
  </script>
</Base>

<style>
  img {
    height: 500px;
  }
</style>
