---
import Base from "../layouts/Base.astro";
---

<Base>
  <form method="POST" action="/" data-netlify="true">
    <input id="email" type="email" value="" placeholder="you@hell.com" />
    <button type="submit">yes</button>
  </form>
</Base>
