---
import Base from "../layouts/Base.astro";
---

<Base title="NO ACCESS">
  <img src="/hell.jpeg" alt="hell" />
  <a href="/disclaimer/">disclaimer</a>
</Base>

<style>
  img {
    display: block;
    margin-bottom: 1rem;
  }
</style>
