---
import Base from "../layouts/Base.astro";
---

<Base title="HELL.COM FAQ">
  <div>
    <h1 style="color: red;">NOTICE</h1>
    <p>
      <span style="color: red; font-weight: bold;">hell.com is a private website</span> for selected
      creative people to communicate, create &amp; exhibit unique &amp; cutting edge content &amp; interactive
      experiences for the benefit of their peers without commercial motive or purpose.
    </p>

    <p>
      there is absolutely no public access to this site. there are no guest privledges. there are no
      visitors <a href="/">period</a>
    </p>

    <p>
      Membership is by <b><a href="/soul-redemption-program">invitation only</a></b>
    </p>

    <p>
      if you have received an email of a frightening nature from hell.com please follow this <a
        href="/apply"
      >
        link
      </a>
      .
    </p>
  </div>
</Base>

<style>
  div {
    text-align: left;
    color: #ccc;
    font-size: 1.5rem;
  }
</style>
