---
import Base from "../layouts/Base.astro";
---

<Base>
  <img src="/hell.jpeg" alt="hell" />
  <a href="/no-access/">no access</a>
  <a href="/redemption/">redemption</a>
  <a href="/search/">search</a>
</Base>

<style>
  img {
    display: block;
    margin-bottom: 1rem;
  }
</style>
