---
const { title } = Astro.props;

const pageTitle = title === undefined ? "hell.com" : title;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII="
      rel="icon"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/style.css" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
  </head>
  <body>
    <script is:inline src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <slot />
  </body>
</html>
